*{
    padding: 0%;
    margin: 0%;
    font-family: 'Figtree', sans-serif;
    letter-spacing: 1%;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    height: 66px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 1px lightblue;
}
.navbar a{
    align-self: center;
    margin-left: 108px;
}
.navbar ul{
    align-self: center;
    list-style-type: none;
    margin-right: 126px;
}
.navbar button{
    margin: 5px;
}

.btn{
    width: 142px;
    height: 35px;
    text-align: center;
    font-size: 14px;
    font-weight:800;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    transition: border-radius 0.3s ease-in-out 0s;

}
.btn:hover{
    border-radius: 20px;
    cursor: pointer;
}

/* hero section */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 50px;
    height: 100vh;
    width: 100%;
}
.hero h1{
    font-size: 40px;
    margin-bottom: 15px;
}
.hero p{
    margin-bottom: 15px;
}
.hero button{
    height: 40px;
    width: 120px;
    margin-top: 10px;
    margin-right:5px ;
}

.odd{
    background-color: black;
    color: white;
}

/* section1 */

.section1{
    width: 100%;
    height: 115vh;
    padding-top: 20px;
    line-height: 2;
}
.icon{
    height: 60px;
    width: 60px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.in1{
    text-align: center;
}
.in1 h2{
    font-size: 2.5rem;
}

.in1 p{
    font-size: 1rem;
}
.in1 img{
    margin-right: 4em;
}

.up1{
    display: flex;
    margin-top: 1.5rem;
    text-align: left;
    margin-left: 3em;
}

.upleft1{
    width: 550px;
    padding: 50px 15px 15px 0px;
    
}
.upleft1 p{
    font-size: 0.875rem;
}
.upleft1 h3{
    font-size: 1.275rem;
}
.upleft1 p,h3{
    margin-left: 80px;
    padding-right: 3em;
    padding-top: 4px;
    line-height: 1;
}
.upleft1 img{
    position: absolute;
}
.spl{
    width: 400px !important;
    padding-left: 0px !important;
}

.down{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    text-align: left;
    line-height: 1;
}
.down h2{
    padding-top: 20px;
    font-size: 1.25rem;
}
.down p{
    padding-top: 10px;
    font-size: .875rem;
}
.downParts{
    padding: 1.25em 0px 1.75em 3em;
    width: 270px;
}

/* Second section */

.second-section{
    width: 100%;
    height: 230vh;
    background-color: black;
}
.secondin{
    height: 100%;
    padding: 0px 24px;
    margin:  0px 80px;
    margin: 0px auto;
    color: white;
    text-align: center;
}
.second-inner{
    margin: 48px 154px;
    padding: 48px 0px;
}
.second-inner h2{
    padding-top: 40px;
    font-size: 40px;
    font-weight: 700;
}
#span{
    margin-top: 2em;
    font-size: 16px;
}
.button2{
    padding-top: 40px;
}
.button2 button{
    padding: 10px 50px;
    font-weight: 900;
    border-radius: 5px;
}
.inner1{
    display: flex;
    justify-content: flex-start;
    margin-left: 7em;
    text-align: left;
    padding-top: 3em;
}
.img2{
    height:300px ;
    width: 464px;
    object-fit: contain;
}
.img2space{
    padding-left: 8em;
}
.inner-right{
    height:150px;
    width: 257px;
    align-self: center;
    padding-top: 2em;
    padding-left: 6em;
    text-align: left;
}
.inner-right h3{
    font-size: 24px;
    margin-left: 0px;
}
.inner-right p{
    margin-top: 11px;
    color:rgb(223, 223, 223);
    font-size: 0.875rem;
}
/* lifestyle */
.lifestyle{
    width: 100%;
    height: 110vh;
}
.lsinner{
    height: 100%;
    margin: 8em;
    padding: 0em 7em;
}
.lsimg img:nth-child(2){
    padding-left: 30px;
}
.lsimg1 img{
    padding-right: 2rem;
}
.lstext{
    display: inline-block;
    width: 430px;
    line-height: 1.2;
    font-size: 1.7rem;
    align-content: center;
    padding-left: 3rem;
    padding-bottom: 3rem;
    /* background-color: blue; */
}
.lstext p{
    font-size: 1rem;
}

/* section four - insights */
.insight{
    width: 100%;
    height: 100vh;
}
.insightin{
    height: 100vh;
    margin: 5em 10em;
    text-align: center;
    font-size: 1.2rem;
} 
.insight p{
    padding-top: .5em;
    font-size: 16px;
}
.insightin2{
    display: flex;
    column-gap: 3em;
}
.insightinner{
    margin-top: 4em;
    text-align: left;
}
.insightinner h2{
    font-size: 1em;
}
.insightinner p{
    padding-top: 3px;
    font-size: .700em;
}
/* fifth section - health rev */
.revin{
    height: 100vh;
    margin: 5em 10em;
    text-align: center;
    font-size: 1.2rem;
}
.revin2{
    display: flex;
    justify-content: center;
    margin-top: 4em;
}
.revin2 span{
    font-size: 15px;
}
.revin span{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.revin img{
    padding: 2.5em 2.5em 0px 2.5em;
}
.revin3{
    padding-left: 2em;
    margin: 7em;
    text-align: left;
    display: flex;
}
.revin3in{
    padding-left: 1em;
    padding-top: 3em;
}
.revin3in h2{
    font-size: 20px;
}
.revin3in p:nth-child(3){
    padding-top: 20px;
    font-size: 13px;
}
.revin3in p:nth-child(2){
    color: brown;
}
.revin3in svg{
    margin-top: 7em;
    height: 15px; 
    padding-left: 50px;
}
/* footer */
.footer{
    width: 100%;
    height: 65vh;
}
.footerin{
    display: flex;
    justify-content: space-between;
    margin: 0px 17em;
    padding-top: 4.5em;
    font-size: 13px;
}
.footerin a{
    padding-top: 2em;
    text-decoration: none;
    font-weight: 600;
    color: black;
}
.footerin a:hover{
    text-decoration: underline;
}
.footerimg{
    flex-grow: 9;
    padding-left: 3em;
    display: flex;
    flex-direction: column;
}
.links{
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.details{
    flex-grow: 3;
    width: 200px;
}
.footerBtn{
    padding-top: 2em;
}
.footerBtn button{
    margin-right: 15px;
}
.details p{
    margin-top: 25px;
}